@import url("./global.css");

main {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 20px;
}
.card {
  width: 300px;
  height: 300px;
  border: 1px solid;
  border-radius: 7px;
  padding: 20px;
}
.opcoes {
  display: flex;
  flex-direction: column;
}
.card p {
  margin-bottom: 5px;
}
.card button {
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px;
  border-radius: 7px;
  border: 1px solid;
}
.card button:hover {
  cursor: pointer;
}
.model {
  display: none;
}
